<article *ngIf="is_editing === true">
    <form action="" (submit)="update()">
        <label for="username">Username:</label>
        <input type="username" [(ngModel)]="form.username" name="username">
        <label for="pass">New password:</label>
        <input type="password" [(ngModel)]="form.pass" name="pass">
        <label for="mail">mail:</label>
        <input type="mail" [(ngModel)]="form.mail" name="mail">
        <label for="pass2">Confirm new password:</label>
        <input type="password" [(ngModel)]="form.pass2" name="pass2">
        <div>
            <input type="submit" value="Submit" />
            <input type="button" (click)="is_editing = false" value="Cancel" />
        </div>
    </form>
</article>
<article *ngIf="is_editing === false">
    <p>username = {{user.username}}</p>
    <p>mail = {{user.mail}}</p>
    <input (click)="is_editing = true" type="submit" value="Edit" />
    <input (click)="remove()" type="submit" value="Remove" />
</article>