<article class="game-all">
    <ul *ngFor="let game of games">
        <li>id = {{game.id}}</li>
        <li>name = {{game.name}}</li>
        <li>price = {{game.price}}</li>
        <li>description = {{game.description}}</li>
        <li>note total = {{moyRate(game)}}</li>
        <li>
            <ul>
                <li *ngFor="let tag of game.tags">{{tag.name}}</li>
            </ul>
        </li>
        <li *ngIf="session.getSession() !== null && getRate(game, session.getSession().username) === false">
            <div *ngFor="let i of [1, 2, 3, 4, 5]" (click)="rate(game.id, i)">
                <button class="empty-star">{{i}}</button>
            </div>
        </li>
        <li *ngIf="session.getSession() !== null && getRate(game, session.getSession().username)">
            <div *ngFor="let i of [1, 2, 3, 4, 5]">
                <button (click)="editRate(getRate(game, session.getSession().username).id, game.id, i)" *ngIf="getRate(game, session.getSession().username).rate < i" class="empty-star">{{i}}</button>
                <button (click)="unRate(getRate(game, session.getSession().username).id)" *ngIf="getRate(game, session.getSession().username).rate === i" class="star">A{{i}}</button>
                <button (click)="editRate(getRate(game, session.getSession().username).id, game.id, i)" *ngIf="getRate(game, session.getSession().username).rate > i" class="star">A{{i}}</button>
            </div>
        </li>
    </ul>
</article>