<header>
    <img src="assets/img/indiegame_logo.png" alt="logo indieshop" id="logo">
    <ul>
        <li>
            <a routerLink="/store" routerLinkActive="active">
                <p>Store</p>
            </a>
        </li>
        <li>
            <a routerLink="/games" routerLinkActive="active">
                <p>Library</p>
            </a>
        </li>
        <li>
            <a routerLink="/admin" routerLinkActive="active">
                <p>Admin</p>
            </a>
        </li>
        <li>
            <a routerLink="/profil/1" routerLinkActive="active">
                <p>Profil</p>
            </a>
        </li>
        <li *ngIf="session.getSession() !== null">
            <a routerLink="/panier" routerLinkActive="active">
                <p>Panier de {{session.getSession()}}</p>
            </a>
        </li>
        <li *ngIf="session.getSession() === null">
            <a (click)="loginHidden = false">
                <p>login/register</p>
            </a>
        </li>
    </ul>
</header>
<div class="headerLogin">
    <button *ngIf="!loginHidden || !registerHidden" (click)="loginHidden = false; registerHidden = true">LOGIN</button>
    <button *ngIf="!loginHidden || !registerHidden" (click)="loginHidden = true; registerHidden = false">REGISTER</button>
    <button *ngIf="!loginHidden || !registerHidden" (click)="loginHidden = true; registerHidden = true">X</button>
</div>
<app-register *ngIf="!registerHidden"></app-register>
<app-login *ngIf="!loginHidden"></app-login>