header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
}

header ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: 800px;
    width: 50%;
}

header ul li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    height: 100%;
    width: 100%;
}

header ul li:hover,
.active {
    background: rgb(219, 219, 219);
}