<header>
    <img src="assets/img/indiegame_logo.png" alt="logo indieshop" id="logo">
    <ul>
        <li>
            <a routerLink="/store" routerLinkActive="active">
                <p>Store</p>
            </a>
        </li>
        <li>
            <a routerLink="/games" routerLinkActive="active">
                <p>Library</p>
            </a>
        </li>
        <li>
            <a routerLink="/admin" routerLinkActive="active">
                <p>Admin</p>
            </a>
        </li>
        <li>
            <a routerLink="/profil/1" routerLinkActive="active">
                <p>Profil</p>
            </a>
        </li>
        <li>
            <a routerLink="/panier" routerLinkActive="active">
                <p>Panier</p>
            </a>
        </li>
        <li>
            <a (click)="loginHidden = false">
                <p>login</p>
            </a>
        </li>
    </ul>
</header>
<div *ngIf="!loginHidden" (click)="loginHidden = true"></div>
<app-login *ngIf="!loginHidden"></app-login>