<header>
    <img src="assets/img/indiegame_logo.png" alt="logo indieshop" id="logo">
    <nav>
        <main>
            <ul> <!-- *ngIf="session.getSession().grade==='admin'" -->
                <li>
                    <a href="">
                        <p>Manage Users</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <p>Manage Games</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <p>Manage Report</p>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a routerLink="/store" routerLinkActive="active">
                        <p>Store</p>
                    </a>
                </li>
                <li>
                    <a routerLink="/games" routerLinkActive="active">
                        <p>Library</p>
                    </a>
                </li>
                <li>
                    <a routerLink="/admin" routerLinkActive="active">
                        <p>Admin</p>
                    </a>
                </li>
                <li *ngIf="session.getSession() !== null">
                    <a routerLink="/profil/{{session.getSession().id}}" routerLinkActive="active">
                        <p>Profil</p>
                    </a>
                </li>
                <li *ngIf="session.getSession() !== null">
                    <a routerLink="/panier" routerLinkActive="active">
                        <p>Panier de {{session.getSession()}}</p>
                    </a>
                </li>
            </ul>
        </main>
        <footer>
            <input type="search" placeholder="Find Game">
            <button *ngIf="session.getSession() === null" (click)="loginHidden=false">Login / Register</button>
            <button *ngIf="session.getSession() !== null" (click)="session.logout()">Logout</button>
        </footer>
    </nav>
</header>
<div class="headerLogin">
    <button *ngIf="!loginHidden || !registerHidden" (click)="loginHidden = false; registerHidden = true">LOGIN</button>
    <button *ngIf="!loginHidden || !registerHidden" (click)="loginHidden = true; registerHidden = false">REGISTER</button>
    <button *ngIf="!loginHidden || !registerHidden" (click)="loginHidden = true; registerHidden = true">X</button>
</div>
<app-register *ngIf="!registerHidden"></app-register>
<app-login *ngIf="!loginHidden"></app-login>